body {
  background-color:rgb(0,0,0);
  background-image:url(http://www.zingerbugimages.com/backgrounds/sage_green_vertical_stripes.jpg);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
  
}