@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Raleway&display=swap');


.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
  }
  .container span{
    display: block;
  }
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  h4 {
    font-size: 10vw;
  }
 

  #card {
    background-color: #A9BA9D;
  }

  #button {
    background-color: palegoldenrod;
    color: black;
    width: 200px !important;
    padding: 20px;
    margin: 10px;

  }

#input {
  border-bottom-style: hidden !important;
}

#messageInput, #channelInput, #channelSearch {
  border: none;
}